<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width=device_width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">

  </head>

<%# ---------------------Création navbar---------------------------------------------- %>
 <body>
    <div class="container">
      <div class="container-navbar">
        <nav>
          <ul>
              <li><%= link_to 'Accueil', root_path %></li>
              <li><%= link_to 'Diagrammes', diagrams_path %></li>
              <li><%= link_to 'Méthodes Merise', merises_path %></li>
          </ul>
        </nav>
      </div>

<%# ------------------------------Affichage des diagrammes UML et Merise------------------------ %>
            <div id="infos_diagram">
                <% @diagram.each do |diagram| %>
                <%= diagram.name %>
                <%= diagram.description %>
                <% end %>
              </div>
        </div>
  </body>
</html>
