<body>
          <nav class="navbar">
            <ul class="navbar-infos">
              <li class="navbar-item">
                <a href="<%= root_path %>" class="navbar-lien">Accueil</a>
                </li>
                    <li class="navbar-item">
                     <a href="<%= diagrams_path %>" class="navbar-lien">Diagrammes UML</a>
                    </li>
                      <li class="navbar-item">
                        <a href="<%= merises_path %>" class="navbar-lien">Diagrammes Merise</a>
            </ul>
          </nav>
                <div class ="title-merise">
                  <h2>Le diagramme de flux</h2>
                    <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>Il permet de voir comment l'information circule dans le système</p>
                </div>
                 <div class ="title-merise">
                  <h2>Diagramme d'entité-relation</h2>
                <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>Il montre comment les composants sont liées entre eux</p>
                </div>
                 <div class ="title-merise">
                  <h2>Diagramme de structure de données</h2>
                    <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>Il permet de montrer comment organiser les données dans une DDa</p>
                </div>
                  <div class ="title-merise">
                  <h2>Diagramme de navigation</h2>
                    <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>Il permet de voir comment l'information circule dans le système</p>
                </div>
                 <div class ="title-merise">
                  <h2>Le diagramme de flux de données </h2>
                    <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>Il permet de voir comment l'information circule dans le système</p>
                </div>
                <div class ="title-merise">
                  <h2>Le diagramme de  flux de externe</h2>
                    <%= image_tag("diagram-sequence.png", alt: "diagramme de séquence") %>
                    <p>"Il montre comment les informations entrent et sortent d'un système"</p>
                </div>
