<body>
          <nav class="navbar">
            <ul class="navbar-infos">
              <li class="navbar-item">
                <a href="<%= root_path %>" class="navbar-lien">Accueil</a>
                </li>
                    <li class="navbar-item">
                     <a href="<%= diagrams_path %>" class="navbar-lien">Diagrammes UML</a>
                    </li>
                      <li class="navbar-item">
                        <a href="<%= merises_path %>" class="navbar-lien">Diagrammes Merise</a>
            </ul>
          </nav>
                <div class ="title-merise">
                  <h2>Diagramme de flux de données</h2>
                    <%= image_tag("merise-flux.gif", alt: "diagramme de flux") %>
                    <p>Il permet de voir comment l'information circule dans le système</p>
                    <p>source image:https://web.maths.unsw.edu.au/~lafaye/CCM/merise/mcc.htm</p>
                </div>
                 <div class ="title-merise">
                  <h2>Diagramme d'entité-relation</h2>
                <%= image_tag("merise-relation.png", alt: "diagramme d'entité relation") %>
                    <p>Il montre comment les composants sont liées entre eux</p>
                     <p>source image:https://web.maths.unsw.edu.au/~lafaye/CCM/merise/mcc.htm</p>
                </div>
                 <div class ="title-merise">
                  <h2>Diagramme de structure de données</h2>
                    <%= image_tag("merise-structure-données.jpg", alt: "diagramme de stucture de données") %>
                    <p>Il permet de montrer comment organiser les données dans une DDa</p>
                </div>
                  <div class ="title-merise">
                  <h2>Diagramme de navigation</h2>
                    <%= image_tag("merise-navigation.png", alt: "diagramme de navigation") %>
                    <p>Il permet de voir comment l'information circule dans le système</p>
                    <p>source image:https://uwe.pst.ifi.lmu.de/teachingTutorialNavigationFrench.html</p>
                </div>
